<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    <title>Lift Ride Hailing</title>

</head>

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage" id="page-top">

    <!--*********************************************************************************************************-->
    <!--HEADER **************************************************************************************************-->
    <!--*********************************************************************************************************-->
    <header id="ts-header" class="fixed-top">
	
		<!--Main level link-->
        <h1 style="font-family: Courier New; font-weight: bold; text-align: center; margin-top: 15px; margin-bottom: 15px; font-size: 35px; background-color: inherit;"> Ride
			<img src="../static/ride_hailing_icon.png" style="max-width:3%;" alt="">
		</h1>

    </header>
    <!--end Header-->

    <!-- HERO MAP
    =================================================================================================================-->
    <section id="ts-hero" class=" mb-0">

        <!--Fullscreen mode-->
        <div class="ts-full-screen ts-has-horizontal-results w-1001 d-flex1 flex-column1">

            <!-- MAP
            =========================================================================================================-->
            <div class="ts-map ts-shadow__sm" style="height:100%;">

                <!-- FORM
                =====================================================================================================-->
                <div class="ts-form__map-search ts-z-index__2" style="margin-left:35px;">
                    <!--Form-->
                    <form class="ts-form">

                        <!--Collapse button-->
                        <a href=".ts-form-collapse" data-toggle="collapse" class="ts-center__vertical justify-content-between">
                            <h5 class="mb-0">Passenger's Details</h5>
                        </a>

                        <!--Form-->
                        <div class="ts-form-collapse ts-xs-hide-collapse collapse show">

							<!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0">Passenger's Name: </h6>
                            </div>
							
							<!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0">Driver's Name: </h6>
                            </div>
							
                            <!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0">Pick-Up Location: </h6>
                            </div>
							
							<!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0">Drop-Off Location: </h6>
                            </div>

                        </div>
                        <!--end ts-form-collapse-->

                    </form>
                    <!--end ts-form-->
					
					<!--Form-->
                    <form class="ts-form" style="margin-top: 5px;" action="/index" method="POST" id="optionForm">

                        <!--Collapse button-->
                        <a href=".ts-form-collapse2" data-toggle="collapse" class="ts-center__vertical justify-content-between">
                            <h5 class="mb-0">Search Passenger</h5>
                        </a>

                        <!--Form-->
                        <div class="ts-form-collapse2 ts-xs-hide-collapse collapse show">

                            <!--Single Rides-->
                            <select class="custom-select my-2" id="single" name="selectedPass">
                                <option value="" disabled selected>JustRide</option>
                                {% for single in singlePassArray %}
                                    <option value="{{single}}">{{single}}</option>
                                {% endfor %}
                            </select>

                            <!--Shared Rides-->
                            <select class="custom-select my-2" id="shared" name="selectedPass">
                                <option value="" disabled selected>Shared Ride</option>
                                {% for shared in sharedPassArray %}
                                    <option value="{{shared}}">{{shared}}</option>
                                {% endfor %}
                            </select>

                            <!--Submit button-->
                            <div class="form-group mt-2 mb-3">
                                <button type="submit" class="btn btn-primary w-100" id="search-btn">Search</button>
                            </div>

                        </div>
                        <!--end ts-form-collapse-->

                    </form>
                    <!--end ts-form-->
					
                </div>
                <!--end ts-form__map-search-->
				
				<!-- <div id='mapdiv' style='z-index: -1;'></div> -->

                <div id="ts-map-hero" class="h-100 ts-z-index__1"
                     data-ts-map-leaflet-provider="https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=b74gkn1VskvsZy9K7x1q"
                     data-ts-map-leaflet-attribution="&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> &copy; <a href='http://cartodb.com/attributions'>CartoDB</a>"
                     data-ts-map-zoom-position="bottomright"
                     data-ts-map-scroll-wheel="1"
                     data-ts-map-zoom="17"
                     data-ts-map-center-latitude="1.3790334"
                     data-ts-map-center-longitude="103.7642649"
                     data-ts-locale="en-US"
                     data-ts-currency="USD"
                     data-ts-unit="m<sup>2</sup>"
                     data-ts-display-additional-info="area_Area;bedrooms_Bedrooms;bathrooms_Bathrooms"
                >
                </div>

            </div>

            <!-- RESULTS
            =========================================================================================================-->
            <!-- <div id="ts-results" class="ts-results__horizontal scrollbar-inner dragscroll">
                <div class="ts-results-wrapper"></div>
            </div> -->

        </div>
        <!--end full-screen-->

    </section>
    <!--end ts-hero-->

</div>
<!--end page-->

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='sly.min.js') }}"></script>
<script src="{{ url_for('static', filename='dragscroll.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet.markercluster.js') }}"></script>
<script src="{{ url_for('static', filename='custom.js') }}"></script>
<script src="{{ url_for('static', filename='map-leaflet.js') }}"></script>

<script type="text/javascript">
    routing = plotting({{route|tojson}});
</script>

</body>
</html>
