<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    <title>Lift Ride Hailing</title>

</head>

<body>

<!-- WRAPPER
=====================================================================================================================-->
<div class="ts-page-wrapper ts-homepage" id="page-top">

    <!--*********************************************************************************************************-->
    <!--HEADER **************************************************************************************************-->
    <!--*********************************************************************************************************-->
    <header id="ts-header" class="fixed-top" style="background-color: #333333">

		<!--Main level link-->
        <img src="static/Logo.png" alt="" width="130" height = "83" style="vertical-align:middle;margin:0px 100px">

    </header>
    <!--end Header-->

    <!-- HERO MAP
    =================================================================================================================-->
    <section id="ts-hero" class=" mb-0">

        <!--Fullscreen mode-->
        <div class="ts-full-screen ts-has-horizontal-results w-1001 d-flex1 flex-column1">

            <!-- MAP
            =========================================================================================================-->
            <div class="ts-map ts-shadow__sm" style="height:100%;">

                <!-- FORM
                =====================================================================================================-->
                <div class="ts-form__map-search ts-z-index__2" style="margin-left:35px;">
                    <!--Form-->
                    <form class="ts-form">

                        <!--Collapse button-->
                        <a href=".ts-form-collapse" data-toggle="collapse" class="ts-center__vertical justify-content-between">
                            <u class="mb-0" style="font-size: 18px; font-weight: bold;">Trip Details</u>
                        </a>

                        <!--Form-->
                        <div class="ts-form-collapse ts-xs-hide-collapse collapse show">

                            <!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0" style="font-size: 16px; font-weight: bold">Passenger's Name(s)</h6>
                                {% for index in range(count) %}
                                    <h6 style="font-style: italic;">{{detail[index][0]}}</h6>
                                {% endfor %}
                            </div>

							<!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0" style="font-size: 16px; font-weight: bold">Driver's Name</h6>
                                {% for index in range(count) %}
                                    <h6 style="font-style: italic;">{{detail[index][1]}}</h6>
                                {% endfor %}
                            </div>

                            <!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0" style="font-size: 16px; font-weight: bold">Pick-Up Location(s)</h6>
                                {% for index in range(count) %}
                                    <h6 style="font-style: italic;">{{detail[index][2]}}</h6>
                                {% endfor %}
                            </div>

							<!--Keyword-->
                            <div class="form-group my-2 pt-2">
								<h6 class="mb-0" style="font-size: 16px; font-weight: bold">Drop-Off Location(s)</h6>
                                {% for index in range(count) %}
                                    <h6 style="font-style: italic;">{{detail[index][3]}}</h6>
                                {% endfor %}
                            </div>

                        </div>
                        <!--end ts-form-collapse-->

                    </form>
                    <!--end ts-form-->
					
					<!--Form-->
                    <form class="ts-form" style="margin-top: 5px;" action="/index" method="POST" id="optionForm" onchange="submitForm();">

                        <!--Collapse button-->
                        <a href=".ts-form-collapse2" data-toggle="collapse" class="ts-center__vertical justify-content-between">
                            <u class="mb-0" style="font-size: 18px; font-weight: bold;">Passengers' List</u>
                        </a>

                        <!--Form-->
                        <div class="ts-form-collapse2 ts-xs-hide-collapse collapse show">

                            <!--Single Rides-->
                            <select class="custom-select my-2" id="single" name="selectedPass">
                                <option value="" disabled selected>Single Rides</option>
                                {% for singlePass in singleRidePass %}
                                    <option value="{{singlePass}}">{{singlePass}}</option>
                                {% endfor %}
                            </select>

                            <!--Shared Rides-->
                            <select class="custom-select my-2" id="shared" name="selectedPass">
                                <option value="" disabled selected>Shared Rides</option>
                                {% for sharedPass in sharedRidePass %}
                                    <option value="{{sharedPass}}">{{sharedPass}}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <!--end ts-form-collapse-->

                    </form>
                    <!--end ts-form-->
					
                </div>
                <!--end ts-form__map-search-->
				
				<!-- <div id='mapdiv' style='z-index: -1;'></div> -->

                <div id="ts-map-hero" class="h-100 ts-z-index__1"
                     data-ts-map-leaflet-provider="https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=b74gkn1VskvsZy9K7x1q"
                     data-ts-map-leaflet-attribution="&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> &copy; <a href='http://cartodb.com/attributions'>CartoDB</a>"
                     data-ts-map-zoom-position="bottomright"
                     data-ts-map-scroll-wheel="1"
                     data-ts-map-zoom="17"
                     data-ts-map-center-latitude="1.3790334"
                     data-ts-map-center-longitude="103.7642649"
                     data-ts-locale="en-US"
                     data-ts-currency="USD"
                     data-ts-unit="m<sup>2</sup>"
                     data-ts-display-additional-info="area_Area;bedrooms_Bedrooms;bathrooms_Bathrooms"
                >
                </div>

            </div>

            <!-- RESULTS
            =========================================================================================================-->
            <!-- <div id="ts-results" class="ts-results__horizontal scrollbar-inner dragscroll">
                <div class="ts-results-wrapper"></div>
            </div> -->

        </div>
        <!--end full-screen-->

    </section>
    <!--end ts-hero-->

</div>
<!--end page-->

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='sly.min.js') }}"></script>
<script src="{{ url_for('static', filename='dragscroll.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='leaflet.markercluster.js') }}"></script>
<script src="{{ url_for('static', filename='custom.js') }}"></script>
<script src="{{ url_for('static', filename='map-leaflet.js') }}"></script>

</body>
</html>
